@layer reset {
  /* CSS Reset */
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  *, *::before, *::after {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-align: start;
  }
}
@layer variables {
  :root {
    --font-size: 1rem;
    --fnt-sign: "Aref Ruqaa Ink", serif;
    --fnt-body: "Montserrat", sans-serif;

    --clr-current_mix: color-mix(in srgb, currentColor 70%, transparent);
    --clr-1: #fbf8f1;
    --clr-2: #fac29e;
    --clr-3: #faa984;
    --clr-4: #fa8969;
    --clr-5: #de664f;    
    --clr_bg-light: #fbf8f1;
    --clr_bg-dark: #fac29e;
    --clr_bg-overlay: rgba(26, 12, 9, 0.85);
    --clr_fnt-light: #fbf8f1;
    --clr_fnt-mid: #de664f;
    --clr_fnt-dark: #1a0c09;
    
    --tempo: 300ms;
    --border-size: 2px solid;
    --border-radius: 0.75rem;
    --bx-sdw: inset 0 0 0 1px #01292433, 0 2px 4px #0000001a, 0 8px 14px #00000026;
    
    interpolate-size: allow-keywords;
  }
}
@layer global {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  body, ul, li, p, h1, a, .h1-big, h3, .title {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  body, p, .eybrow {
    font-family: var(--fnt-body);
  }

  h1, .h1-big, h2, h3, .title {
    text-wrap: balance;
    font-family: var(--fnt-sign);
  }

  h1, h2, h3, ul, li, .title {  
    font-weight: 500;
  }

  body {
    font-size: clamp(.75rem, .3361vw + .6975rem, 1rem);
    background: var(--clr_bg-light);
  }



  h1, h2, h3, h4, h5, h6, .title {
    line-height: 1.2;
    text-align: center;
    letter-spacing: .1em;  
  }

  h1 {
    font-size: clamp(2rem, 4vw, 5rem);
  }

  .h1-big {
    font-size: clamp(2.5rem, 5vw, 6rem);
    font-weight: 600;
    line-height: 1.04em;
    text-align: left;
    letter-spacing: -0.01em;
  }

  h2 {
    margin-block: 20px .35em;
    font-size: clamp(1.5rem, 3vw, 4rem);
  }

  .h2-big {
    font-size: clamp(2rem, 4vw, 5rem);
    font-weight: 600;
  }

  h3 {
    font-size: clamp(1.25rem, 2.5vw, 3.5rem);
  }

  .h3-big {
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-weight: 500;
  }

  h4 {
    font-size: clamp(1rem, 2vw, 3rem);
    font-weight: 400;
  }

  h5 {
    font-size: clamp(0.875rem, 1.75vw, 2.5rem);
    font-weight: 300;
  }

  h6 {
    font-size: clamp(0.75rem, 1.5vw, 2rem);
    font-weight: 200;
  }

  .title {
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-weight: 600;
  }

  p, .p-small, .p-large {
    line-height: 1.5;
    text-align: center;
    letter-spacing: .1em;  
  }

  p {
    margin-bottom: .7em;
    font-size: 1rem;
    font-weight: 500;
    text-wrap: balance;
  }

  .p-small {
    font-size: 0.6rem;
    font-weight: 300;
  }

  .p-large {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .eyebrow {
    margin-bottom: 1.25rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: var(--clr-current_mix);
  }
}
@layer multimedia {
  /*----MULTIMEDIA----*/
  img, video {
    width: 100%;  
    height: 100%;
    display: block;
    object-fit: cover;  
    border-radius: calc(var(--border-radius) / 2);    
  }

  img {
    vertical-align: middle;
  }

  svg {
    object-fit: cover;
    fill: var(--clr-5);
    height: 1.5em;
  }
}
@layer actions {
  /*----ACTIONS----*/
  button, .btn {  
    background: none;  
    backdrop-filter: none;
    border-radius: calc(var(--border-radius)/2);
    padding: 10px 20px;
    color: var(--clr_fnt-mid);
    border: var(--border-size) var(--clr_fnt-mid);
    font-size: var(--font-size);
    font-family: var(--fnt-body);
    text-align: center;
    cursor: pointer;
    transition: all var(--tempo) ease;
    
    &:hover {
      backdrop-filter: blur(15px);
      border: var(--border-size) var(--clr-4);
      box-shadow: var(--bx-sdw);
    }
    &:active {
      transform: scale(0.95);
      color:var(--clr_fnt-dark);
      background: var(--clr-4);
    }
    &:focus {
      outline: var(--border-size) var(--clr-5);  
      backdrop-filter: blur(15px);
      outline-offset: 2px;
    }
  }

  .btn-primary {
    margin-top: 2rem;
  }

  .btn-small {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .btn-large {
    padding: 15px 30px;
    font-size: 1.2rem;
  }

  .link-btn {
    padding-inline: 10px;
    color: var(--clr_fnt-mid);
    background: transparent;
    border: var(--border-size) transparent;
    border-radius: calc(var(--border-radius) / 2);
    cursor: pointer;
    transition: all var(--tempo) ease;
    
    &:hover {
      backdrop-filter: blur(15px);
      border: var(--border-size) transparent;
      box-shadow: var(--bx-sdw);
    }
    
    &:focus, :active {
      text-decoration: underline;
    }
  }
}

/* ===== SISTEMA HAMBURGER REUTILIZÃVEL ===== */
.hamburger {
  font-size: 2rem;
  border: var(--border-size) transparent;
  border-radius: .75rem;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
  
  /* Estado inicial */
  .hamburger-icon { display: block; }
  .close-icon { display: none;padding-inline:2px;}
}

/* Quando qualquer popover estiver aberto */
:root:has([popover]:popover-open) {
  /* Para o hamburger que controla o nav_sidebar */
  .hamburger[popovertarget="nav_sidebar"] {
    .hamburger-icon { display: none; }
    .close-icon { display: block; }
  }
}

/*----AREA----*/

section, footer {
  padding:8rem 0;
  grid-row-gap: 4rem;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1440px;
  --breakout-max-width: 100%;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );  

  *{text-align: center;}

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

.grid_2x1-2-rows {
  grid-area: span 2 / span 1 / span 2 / span 1;
}
.grid_2x1-1-rows {
  grid-area: span 1 / span 1 / span 2 / span 2;
}

@starting-style {
  .nav_products:popover-open,
  .nav_products:popover-open::backdrop {
    opacity:0;
  }
}


header nav {
  width: 100%;
  padding: 0 20px;        
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 1rem;
  z-index: 1;

  a:hover, a:active {
    color: var(--clr-1);
    box-shadow: var(--bx-sdw);
    border-radius:calc(var(--border-radius) * 100);
  }
  a:focus {
    background: var(--clr-4);
    color: var(--clr-1);
    box-shadow: var(--bx-sdw);
    border-radius: calc(var(--border-radius) * 100);
  }

  .nav_left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .nav_links {
      display: flex;
      gap: 2rem;
    }    
    .link-btn.jobs {
      anchor-name: --link_jobs;
    }
    .link-btn.fqa {
      anchor-name: --link_fqa;
    }
    .nav_products, .nav_products::backdrop {
      --tempo:300ms;
      transition: 
        var(--tempo) opacity,
        var(--tempo) overlay allow-discrete,
        var(--tempo) display allow-discrete;
      opacity: 0;
    }
    .nav_products {
      width:calc(clamp(18.75rem, 80.357vw + 2.679rem, 85rem));
      max-width:1300px;
      padding:1rem;
      margin-inline:auto;
      flex-wrap:wrap;
      justify-content: space-between;
      gap:1rem;
      border:none;
      border-radius:var(--border-radius);
      box-shadow: var(--bx-sdw);      
      
      position: absolute;      
      position-anchor:--link_jobs;
      top: anchor(bottom);
                
      * {        
        text-align:start;        
        color:var(--clr_fnt-dark);
      }
      li {
        margin-block-start:16px;        
        text-wrap:nowrap;
      }
      
      .btn{
        border-radius: var(--border-radius);
        transition: all var(--tempo);
        :hover {
          border-radius: var(--border-radius);
        }
      }
      h6, .eyebrow {        
        text-align:start;        
      }
      .exclusivo, .trabalhos, .link_personalizar {
        flex:1 1 calc((100% - 2rem) / 3);
        min-width:200px;
      } 
      
      .exclusivo {
        margin-block:10px;
        display:flex;
        flex-direction:column;
        max-width: 220px;      
      }
      .trabalhos {
        margin-block:10px;
        display:flex;
        flex-direction:column;
        gap:1rem;
        
        
        .flex{
          display:flex;
          flex-direction:row;
          flex-wrap:wrap;
          gap:1rem;
          min-width:100%;
          max-width: 520px;
          
          .nota {
            display: inline-flex;
            justify-content: space-evenly;
            gap: 1rem;
            margin-top: 0;
            padding: 0;
            width: 100%;
            
            li {
              margin-block-start: 0px;              
            }
          }
          .exemplo-frasc {
            position:relative;
            height:150px;
            width:100%;
            max-width:350px;
            min-width:250px;
            padding:5px;
            place-items: center;
            display: grid;
            gap: 1rem;
            justify-content: strech;
            align-items: end;
            border-radius:var(--border-radius);
            border:var(--border-size) var(--clr-2);
            box-shadow:var(--bx-sdw);
            overflow:hidden;
            
            img {
              position:absolute;
            }
            h6 {
              width:100%;
              padding:5px;
              z-index:1;
              color:var(--clr-5);
              font-weight:500;
              backdrop-filter: blur(10px);
              text-align:center;
            }            
          }
        }        
      }
      
      .link_personalizar {
        width:clamp(20rem,10vw,30rem);
        max-width: 360px;
        border-radius: var(--border-radius);
        color: var(--clr_fnt-light);
        background: var(--clr_fnt-dark);
        box-shadow: var(--bx-sdw);
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        
        * {        
        text-align:start;        
        color:var(--clr_fnt-light);
        }
        
        h3, p {
          text-align: start;
        }
      }
      &:popover-open {
        opacity: 1;
        visibility: visible;
        display:flex;
      }      
    }
    .nav_fqa {
      border:none;
      border-radius:var(--border-radius);
      box-shadow: var(--bx-sdw);
      padding:1rem;
      margin-inline:auto;

      flex-direction:column;
      gap:1rem;
      
      position: absolute;
      position-anchor:--link_fqa;
      top: anchor(bottom);
      
      & * {        
        text-align:start;        
        color:var(--clr_fnt-dark);
      }
      li {
        margin-block-start:16px;        
        text-wrap:nowrap;
      }
      
      a:hover {
        color: var(--clr_fnt-mid)
      }
            
      &:popover-open {
          display:flex;
        }
    }
  }
  
  .nav_right {
    display: inline-flex;

    .icons {
      color: var(--clr-5);
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      gap: rem;
    }
    .icons li {      
      height: auto;
    }

    span {
      height: 100%;      
      font-size: 2rem;      
    }

    .hamburger.sideNav {
      anchor-name: --sideNav;
    }
  }  
}

.nav_sidebar{
  border:none;
  margin-right:0px;
  width:auto;
  justify-content:center;
  
  inset: 0;
  position: absolute;      
  position-anchor:--sideNav;
  top: anchor(bottom);
  right : 0;
      
  .link-btn.jobs {
    anchor-name: --link_jobs;
  }
  .link-btn.fqa {
    anchor-name: --link_fqa;
  }
  .nav_products, .nav_products::backdrop {
    --tempo:300ms;
    transition: 
      var(--tempo) opacity,
      var(--tempo) overlay allow-discrete,
      var(--tempo) display allow-discrete;
    opacity: 0;
  }
  .nav_products {
    width:calc(clamp(18.75rem, 80.357vw + 2.679rem, 75rem));
    max-width:1200px;
    padding:1rem;
    margin-inline:auto;
    flex-wrap:wrap;
    justify-content: space-between;
    gap:1rem;
    border:none;
    border-radius:var(--border-radius);
    box-shadow: var(--bx-sdw);      
    
    position: absolute;      
    position-anchor:--link_jobs;
    top: anchor(bottom);
              
    * {        
      text-align:start;        
      color:var(--clr_fnt-dark);
    }
    li {
      margin-block-start:16px;        
      text-wrap:nowrap;
    }
    
    a:hover {
      color: var(--clr_fnt-mid)
    }
    h6, .eyebrow {        
      text-align:start;        
    }
    .exclusivo, .trabalhos, .link_personalizar {
      flex:1 1 calc((100% - 2rem) / 3);
      min-width:200px;
    } 
    
    .exclusivo {
      margin-block:10px;
      display:flex;
      flex-direction:column;
      max-width: 220px;      
    }
    .trabalhos {
      margin-block:10px;
      display:flex;
      flex-direction:column;
      gap:1rem;
      
      
      .flex{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        gap:1rem;
        min-width:100%;
        max-width: 520px;
        
        .nota {
          display:flex;
          gap:1rem;
          margin-left:2rem;
          margin-top:0;
          padding:0;
          
          li {
            margin-block-start: 0px;              
          }
        }
      }
    }
    
    & .link_personalizar {
      width:clamp(20rem,10vw,30rem);
      max-width: 360px;
      border-radius: var(--border-radius);
      color: var(--clr_fnt-light);
      background: var(--clr_fnt-dark);
      box-shadow: var(--bx-sdw);
      padding: 4rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;
      
      & * {        
      text-align:start;        
      color:var(--clr_fnt-light);
      }
      
      & h3, p {
        text-align: start;
      }
    }
    &:popover-open {
      opacity: 1;
      visibility: visible;
      display:flex;
    }
    &::backdrop {
      background-color: rgba(0,0,0,0.3);
      opacity:1;
    }
  }
  .nav_fqa {
    border:none;
    border-radius:var(--border-radius);
    box-shadow: var(--bx-sdw);
    padding:1rem;
    margin-inline:auto;

    flex-direction:column;
    gap:1rem;
    
    position: absolute;
    position-anchor:--link_fqa;
    top: anchor(bottom);
    
    & * {        
      text-align:start;        
      color:var(--clr_fnt-dark);
    }
    li {
      margin-block-start:16px;        
      text-wrap:nowrap;
    }
    
    a:hover {
      color: var(--clr_fnt-mid)
    }
          
    &:popover-open {
        display:flex;
      }
  }

  :popover-open {
    display:flex;
  }  
  
  .nav_links-sidebar{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }  
}

footer {
  display:grid;
  gap:2rem;
  grid-template-areas:
    "links links links logo"
    "contacts contacts contacts logo"
    "copyright copyright copyright copyright";


  background: var(--clr-1);
  color: var(--clr_fnt-light);
  text-align: center;
  border: var(--border-size);
  border-radius: var(--border-radius);
  padding: 2rem;
  font-size: 0.8rem;
  
  place-items: center;
  text-align: center;
  
  * {
    color: var(--clr_fnt-mid);
  }

  .footer_links-content {
    grid-area: links;
    height: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;    
  }

  .footer_contactos {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .brand {
    height: 100%;
    grid-area: logo;
    
    img {
      object-fit: fill;
    }
  }
  .copyright {
    border-top: var(--border-size);
    grid-area: copyright;
    font-size: 0.8rem;
    margin-top: 2rem;
  }
}

@layer responsive {
  @media screen and (width < 576px) { 
    body{ background: var(--clr_fnt-dark); } 

    nav .nav_links { display: none !important; }
    nav .hamburger { display: flex ; }
    nav .nav_products { max-width:720px; }  

    main .grid-2x1 {
      gap:0rem !important;

      & .img-1x1 {
        position: relative;
        height:clamp(150px, 30vw, 900px);
      }
      
    }
  }
  @media screen and (min-width: 576px) and (max-width: 991px) {
    nav .nav_links {display: flex !important;}
    nav .hamburger {display: none !important;}
    
  }
  @media screen and (width > 992px) { 
    nav .nav_links {display: flex !important;}
    nav .hamburger {display: none !important;} 
  }
}
