
/* CSS Reset */
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

*,*::before,*::after {    
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-align: start;

  animation-duration: 0.03ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  transition-delay: 0s !important;
  scroll-behavior: auto !important;/*<-----*/
}

@media screen and (width < 576px) { 
  body{background: var(--clr_fnt-dark);}
  nav .nav_links {display: none !important;}
  nav .hamburger {display: flex !important;} 
  
  main .grid-2x1 {
    gap:0rem !important;

    & .img-1x1 {
      position: relative;
      height:clamp(150px, 30vw, 900px);
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  nav .nav_links {display: flex !important;}
  nav .hamburger {display: none !important;}     
}
@media screen and (width > 992px) { 
  nav .nav_links {display: flex !important;}
  nav .hamburger {display: none !important;} 
}

:root{
  --font-size:1rem;
  --fnt-sign: "Aref Ruqaa Ink", serif;
  --fnt-body: "Montserrat", sans-serif;

  --clr-current_mix: color-mix(in srgb, currentColor 70%, transparent);
  --clr-1:#fbf8f1;
  --clr-2:#fac29e;
  --clr-3:#faa984;
  --clr-4:#fa8969;
  --clr-5:#de664f;    
  --clr_bg-light:#fbf8f1;
  --clr_bg-dark:#fac29e;
  --clr_bg-overlay:rgba(26, 12, 9, 0.85);
  --clr_fnt-light:#fbf8f1;
  --clr_fnt-mid:#de664f;
  --clr_fnt-dark:#1a0c09;

  --border-radius: 0.75rem;
  --bx-sdw:inset 0 0 0 1px #01292433, 0 2px 4px #0000001a, 0 8px 14px #00000026;
  
  interpolate-size: allow-keywords;
}




/*----GLOBAL STYLES----*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}
body,ul,li,p,h1,.h1-big,h3,.title {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body,p,.eybrow {
  font-family: var(--fnt-body);
}
h1,.h1-big,h2,h3,.title {
  text-wrap: balance;
  font-family:var(--fnt-sign);
}
h1,h2,h3,ul,li,.title{  
  font-weight: 500;
}

body {
  font-size: clamp(.75rem, .3361vw + .6975rem, 1rem);
  background: var(--clr_bg-light)
}

h1 {
  font-size: clamp(2rem, 4vw, 5rem);
  line-height: 1.2;
  text-align: center;
  letter-spacing: .1em;
}
.h1-big {
  font-size: clamp(2.5rem, 5vw, 6rem);
  font-weight: 600;
  line-height: 1.04em;
  text-align: left;
  letter-spacing: -0.01em;
}

h2 {
  margin-block: 20px .35em;
  font-size: clamp(1.5rem, 3vw, 4rem);
  line-height: 1.2;
  text-align: center;
  letter-spacing: .1em;
}
.h2-big {
  font-size: clamp(2rem, 4vw, 5rem);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  letter-spacing: .1em;
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 3.5rem);
  line-height: 1.2;
  text-align: center;
  letter-spacing: .1em;
}
.h3-big {
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: .1em;
}

h4 {
  font-size: clamp(1rem, 2vw, 3rem);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  letter-spacing: .1em;
}

h5 {
  font-size: clamp(0.875rem, 1.75vw, 2.5rem);
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  letter-spacing: .1em;
}

h6 {
  font-size: clamp(0.75rem, 1.5vw, 2rem);
  font-weight: 200;
  line-height: 1.2;
  text-align: center;
  letter-spacing: .1em;
}

.title {
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  letter-spacing: .1em;
}

p {
  margin-bottom: .7em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-wrap: balance;
  letter-spacing: .1em;
}
.p-small {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  letter-spacing: .1em;
}
.p-large {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  letter-spacing: .1em;
}
.eyebrow {
  margin-bottom: 1.25rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: var(--clr-current_mix);
}




/*----MULTIMEDIA----*/
img,video {
  width: 100%;  
  height: 100%;
  display: block;
  object-fit: cover;  
  border-radius: calc(var(--border-radius) / 2);    
}
img {
  vertical-align: middle;
}
svg {
  object-fit: cover;
  fill: var(--clr-5);
  height:1.5em;
}




/*----ACTIONS----*/
button {
  background: none;
  border-radius: calc(var(--border-radius)/2);
  padding: 10px 20px;
  color: var(--clr_fnt-mid);
  border: 2px solid var(--clr_fnt-mid);
  font-size: var(--font-size);
  font-family: var(--fnt-body);
  text-align: center;
  cursor: pointer;
  transition: all 5ms ease;

}
button:hover {
  backdrop-filter: blur(15px);
  border: 2px solid var(--clr-4);
  box-shadow: var(--bx-sdw);
}
button:active {
  transform: scale(0.95);
  color:var(--clr_fnt-dark);
  background: var(--clr-4);
}
button:focus {
  outline: solid 2px var(--clr-5);  
  backdrop-filter: blur(15px);
  outline-offset: 2px;
}
.btn-primary {margin-top: 2rem;}
.btn-small {
    padding: 5px 10px;
    font-size: 0.8rem;
}
.btn-large {
    padding: 15px 30px;
    font-size: 1.2rem;
}

a{
  text-decoration: none;
  color: var(--clr_fnt-mid);
  transition: all 3ms ease;
}




/*----AREA----*/
section, footer {
    padding:8rem 0;
    grid-row-gap: 4rem;
  }


.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1440px;
  --breakout-max-width: 100%;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );  

  *{text-align: center;}

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}


.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

.grid_2x1-2-rows {
  grid-area: span 2 / span 1 / span 2 / span 1;
}
.grid_2x1-1-rows {
  grid-area: span 1 / span 1 / span 2 / span 2;
}

header nav {
  width: 100%;
  padding: 0 20px;        
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 1rem;
  z-index: 1;

  & a:hover, a:active {
    color: var(--clr-1);
    box-shadow: var(--bx-sdw);
    border-radius:calc(var(--border-radius) * 100);
  }
  & a:focus {
    background: var(--clr-4);
    color: var(--clr-1);
    box-shadow: var(--bx-sdw);
    border-radius: calc(var(--border-radius) * 100);
  }

  & .nav_left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & .nav_links{
      display: flex;
      gap: 2rem;
    }        
      
  }
  & .nav_right{
    display: inline-flex;

    & .icons{
      color: var(--clr-5);
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
    }
    span {
      font-size: xx-large;
    }
    .hamburger{
      display: block;
      font-size: 2rem;
      border: none;
      border-radius: .75rem;
    }
    .close_hamburger {
      display: none;
      font-size: 2rem;
      border: none;
      border-radius: .75rem;
    }
    .active{
      display: none;
    }
    .active + .close_hamburger{
      display: block;
    }         
  }
}

.nav_sidebar{
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  left: 0px;
  opacity: 0;
  visibility: hidden; /* Inicialmente escondido */
  transition: opacity 0.5s ease, visibility 0.5s ease;

  background: var(--clr_bg-light);
  padding: 1rem;
  
  &.active{
    visibility: visible; /* Torna visível quando ativo */
    opacity: 1; /* Torna opaco quando ativo */
    top: 5.2rem; /* Ajuste a posição conforme necessário */
    display: flex; /* Usar flex apenas quando ativo */
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  & .nav_links-sidebar{
    display: flex;
    align-items: space-evenly;
    gap: 2rem;

  }
}

